
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>驾培人员信息查询-青州市机动车查询系统</title>
    <base target="_blank" />
    <meta name="Keywords" content="青州市机动车查询系统" />
    <meta name="Description" content="青州市机动车查询系统，提供包头市出行服务,高速公路,路段,救援,服务区,路况,出入口,普通公路,路段,普通货车通行费,优惠货车通行费,客运线路,旅游景区,订票电话,售票网点,服务热线,养路费,养路费网点,运管费网点,出行路径" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <link href="/static/css/css.css"  type="text/css" rel="stylesheet"/>
    <script type='text/javascript' src="/static/js/fenye.js" ></script>
</head>
<body>
<div id="page1">
    <div id="top"><iframe target="_parent" frameborder="0" scrolling="no" src="/head.html"  width="1000px" height="138px" ></iframe></div>
    <div id="content0">
        <div id="contentleft0">

            <div class="contentleft1">
                <div class="bar">
                    <label>政策法规</label>
                </div>
                <img src="/static/image/zcfg.jpg" />
                <ul id="ss">

                    <li><a href=""  target="_parent">国家级文件</a></li>

                    <li><a href=""  target="_parent">省级文件</a></li>

                    <li><a href=""  target="_parent">地方性法规</a></li>

                    <li><a href=""  target="_parent">政府规章</a></li>

                    <li><a href=""  target="_parent">规范性文件</a></li>

                </ul>
            </div>

            <div class="contentleft1">
                <div class="bar">
                    <label>交通概况</label>
                </div>
                <img src="/static/image/jtgk.jpg" />
            </div>


            <div class="contentleft2"></div>
        </div>
        <div class="middle0">
            <div class="middlebar">

                <label>驾培人员信息查询</label>
            </div>
            <div class="wznr0">



                <iframe src="/chaxunform.html" width="100%" height="360" style="margin:0px;padding:0px; border:1px solid #3D6DB5; background:none;" ></iframe>















            </div>

        </div>


    </div>
    <div class="dx"></div>
    <div id="bottom"><iframe target="_parent" frameborder="0" scrolling="no" src="/bottom.html"  width="1000px" height="85px" ></iframe></div>
</div>

</body>

</html>